{
    servers :443 {
        protocols h1 h2
    }

    servers :80 {
        protocols h1 h2c
    }
}

{$CADDY_DOMAIN} {
    import {$CADDY_TLS_FRAGMENT}

    encode zstd gzip
    log

    @admin path /admin* /admin
    @admin_with_cert expression {http.request.tls.client.certificate} != ""

    handle @admin {
        handle @admin_with_cert {
            reverse_proxy api:80 {
                header_up X-Forwarded-Proto https
                header_up X-Real-IP {http.request.remote}
                header_up X-MTLS-Present 1
                header_up X-MTLS-FINGERPRINT {http.request.tls.client.fingerprint}
                header_up X-MTLS-SUBJECT {http.request.tls.client.subject}
                header_up X-MTLS-ISSUER {http.request.tls.client.issuer}
            }
        }
        respond "Client certificate required for /admin" 403
    }

    handle {
        reverse_proxy api:80 {
            header_up X-Forwarded-Proto https
            header_up X-Real-IP {http.request.remote}
        }
    }
}
