{
	servers :443 {
		protocols h1 h2
	}

	servers :80 {
		protocols h1 h2c
	}
}

{$CADDY_DOMAIN} {
	import {$CADDY_TLS_FRAGMENT}

	encode zstd gzip
	log

	import {$CADDY_ADMIN_FRAGMENT}

	handle {
		reverse_proxy api:8080 {
			header_up X-Forwarded-Proto https
			header_up X-Real-IP {http.request.remote}
		}
	}
}
